:root {
  font-size: 16px;
  font-family: "Itim", cursive;
}

.main-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}

.score-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.game-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.right-side-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.game-board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 25rem;
  width: 25rem;
  /* padding: 60px 0px 40px 0px; */
}

.cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 7rem;
  height: 7rem;
  border: 1px solid black;
  margin: 0.2rem;
  font-size: 5rem;
  text-align: center;
  border-radius: 1rem;
}

.buttons-div {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 30px;
}

.button {
  padding: 1rem;
  border: 2px solid rgb(240, 108, 47);
  border-radius: 0.5rem;
  background-color: white;
  font-family: "Itim", cursive;
  font-size: 2rem;
}

.button:hover {
  background-color: rgb(240, 108, 47);
}

.session-wins-div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.session-wins-table {
  border: 1px solid black;
  margin: 15px;
  padding: 15px;
  border-radius: 1rem;
}

.session-wins-table td {
  border: 1px solid black;
  padding: 15px;
  border-radius: 0.5rem;
  height: 2rem;
}

.session-wins-table th {
  border: 1px solid black;
  padding: 15px;
  border-radius: 0.5rem;
}

.current-player-div {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.announce-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background-color: rgb(211, 211, 211, 0.9);
  /* opacity: 0.5; */
  top: 0;
  overflow: auto;
}

.announce-container {
  background-color: white;
  border-radius: 1rem;
  padding: 3rem;
}

.announce-winner-div {
  /* position: absolute; */
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  /* height: 10vh; */
  font-size: 30px;
  margin: 1rem;
  padding: 1rem;
  z-index: 4;
  background-color: white;
  border-radius: 1rem;
}

.start-new-game-div {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 30px;
  background-color: white;
  z-index: 4;
}
